<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        body{
        font-family:arial;
        }
        
        h1{
            text-align: center;
        }
        p{
            margin: 15px 15px 15px 15px;
            font-size: 15px;
        }
        footer a h2{
            text-decoration: none;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
        }
        a{
            text-decoration: none;
        }

        footer a:hover{
            color: rgb(110, 5, 5);
        }
    </style>
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Hello Sir welcome to the Ragazzi</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae non exercitationem facere ut tenetur, unde accusamus deleniti similique ipsam velit enim deserunt, quos vitae placeat, magnam quod quaerat incidunt maxime!</p>
    <footer>
         <a href="/contact"> <h2>Contact US!</h2></a>
    </footer>
</body>
</html>